[Unit]
Description=IQDB

[Service]
Type=simple
User=danbooru
Restart=always
ExecStart=/usr/local/bin/iqdb listen2 localhost:4000 -r /var/www/iqdbs/shared/data/iqdb.db
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
